@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Bible Verse Application</h1>
    <p class="lead">This is a Bible Application to simplify the Bible search for verses. You can search the Bible verses bellow.</p>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
         
        </form>
    </nav>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Favorite quotes for the day</h2>
        <p>
            The Bible is full of soul enriching and encouraging words to keep you moving.It was written by greatest authors to give 
            encouragement when people lost hope.
        </p>
        <p><a class="btn btn-default" href="https://www.biblestudytools.com/">Get daily quotes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Encouragement </h2>
        <p>
            But whatever were gains to me I now consider loss for the sake of Christ.
            What is more, I consider everything a loss because of the surpassing worth of knowing Christ Jesus my Lord, for whose sake I have lost all things. I consider them garbage, that I may gain Christ
            and be found in him, not having a righteousness of my own that comes from the law, but that which is through faith in Christ—the righteousness that comes from God on the basis of faith.
        </p>
        <p><a class="btn btn-default" href="https://www.compassionuk.org/blogs/37-encouraging-bible-verses/">Get more Inspirational words here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Local Christian Radios</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>